#opponent-characters {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 карточки в ряд */
    gap: 15px;
    justify-items: center;
}

.char {
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    text-align: center;
    width: 120px;
    height: 200px;
    cursor: pointer;
    transition: transform 0.3s, opacity 0.3s;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.char img {
    max-width: 100%;
    max-height: 120px;
    display: block;
    margin: 5px 0;
}

.char.disabled {
    opacity: 0.5;
    pointer-events: none; /* Запрещает клики по помеченным карточкам */
}

.char .guess-btn {
    margin-top: auto;
    font-size: 12px;
    padding: 5px 10px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.char .guess-btn:disabled {
    background-color: #aaa;
    cursor: not-allowed;
}
